name: aurelius-atlas-dev

services:
    atlas:
        image: aurelius-docker-apache-atlas:local
        depends_on:
            - broker
            - keycloak
        extra_hosts:
            - keycloak.localhost:host-gateway
        ports:
            - 21000:21000
        volumes:
            - atlas-data:/apache-atlas/data
        configs:
            - source: atlas-application
              target: /apache-atlas/conf/atlas-application.properties
            - source: atlas-simple-authz-policy
              target: /apache-atlas/conf/atlas-simple-authz-policy.json
            - source: atlas-keycloak-conf
              target: /apache-atlas/conf/keycloak-conf.json

    keycloak:
        image: quay.io/keycloak/keycloak:16.1.1
        environment:
            KEYCLOAK_IMPORT: '/tmp/keycloak-config/atlas-dev.json'
            KEYCLOAK_PASSWORD: 'admin'
            KEYCLOAK_PORT: 8180
            KEYCLOAK_REALM_NAME: 'atlas-dev'
            KEYCLOAK_USER: 'admin'
        volumes:
            - keycloak-data:/opt/jboss/keycloak/standalone/data
        configs:
            - source: keycloak-config
              target: /opt/jboss/keycloak/standalone/configuration/standalone.xml
            - source: keycloak-realm
              target: /tmp/keycloak-config/atlas-dev.json
        network_mode: host
        restart: unless-stopped
        entrypoint: ['/bin/sh', '-c']
        command: >
            ' /opt/jboss/tools/docker-entrypoint.sh -b 0.0.0.0 -bmanagement 0.0.0.0 -Djboss.http.port=8180 2>&1 & while [[ "$(curl -s -o /dev/null -w ''%{http_code}'' curl -X GET http://localhost:8180/ | tail -c 3)" != "200" ]]; do
                echo "Waiting for Keycloak to start on port 8180...";
                sleep 5;
            done; sleep 5; /opt/jboss/keycloak/bin/kcadm.sh config credentials --server "http://localhost:8180/auth" --realm master --user admin --password admin; /opt/jboss/keycloak/bin/kcadm.sh create users -r atlas-dev -s username=atlas -s enabled=true; /opt/jboss/keycloak/bin/kcadm.sh add-roles -r atlas-dev --uusername atlas --rolename ROLE_ADMIN; /opt/jboss/keycloak/bin/kcadm.sh add-roles -r atlas-dev --uusername atlas --rolename DATA_STEWARD; /opt/jboss/keycloak/bin/kcadm.sh set-password -r atlas-dev --username atlas --new-password atlas; echo "atlas user created."; tail -f /dev/null '

    broker:
        image: apache/kafka:latest
        environment:
            KAFKA_NODE_ID: 1
            KAFKA_PROCESS_ROLES: broker,controller
            KAFKA_LISTENERS: PLAINTEXT://broker:9094,CONTROLLER://broker:9093,LOCAL://localhost:9092
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:9094,LOCAL://localhost:9092
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,LOCAL:PLAINTEXT
            KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
            KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:9093
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
            KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
            KAFKA_NUM_PARTITIONS: 3
            KAFKA_MESSAGE_MAX_BYTES: 10000000
            KAFKA_SOCKET_REQUEST_MAX_BYTES: 100001200
        healthcheck:
            test: /opt/kafka/bin/kafka-topics.sh --list --bootstrap-server broker:9094 || exit 1
            interval: 1s
            timeout: 60s
            retries: 60
        restart: unless-stopped
        volumes:
            - kafka-data:/var/lib/kafka/data

    schema-registry:
        image: confluentinc/cp-schema-registry:7.6.1
        depends_on:
            broker:
                condition: service_healthy
        environment:
            SCHEMA_REGISTRY_LISTENERS: 'http://schema-registry:${SCHEMA_REGISTRY_PORT},http://localhost:${SCHEMA_REGISTRY_PORT}'
            SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'PLAINTEXT://broker:9094'
            SCHEMA_REGISTRY_HOST_NAME: 'schema-registry'
        restart: unless-stopped
        ports:
            - ${SCHEMA_REGISTRY_PORT}:${SCHEMA_REGISTRY_PORT}
        healthcheck:
            test: ['CMD-SHELL', 'curl -I -f -s http://localhost:${SCHEMA_REGISTRY_PORT}/subjects || exit 1']
            interval: 30s
            timeout: 10s
            retries: 10

    kafka-ui:
        image: kafbat/kafka-ui:latest
        depends_on:
            - broker
            - schema-registry
        environment:
            KAFKA_CLUSTERS_0_NAME: aurelius-dev-kafka
            KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: broker:9094
            KAFKA_CLUSTERS_0_SCHEMAREGISTRY: http://schema-registry:${SCHEMA_REGISTRY_PORT}
            SERVER_PORT: ${KAFKA_UI_PORT}
        ports:
            - ${KAFKA_UI_PORT}:${KAFKA_UI_PORT}
        restart: unless-stopped

    setup:
        image: docker.elastic.co/elasticsearch/elasticsearch:8.2.2
        user: '0'
        env_file: .env
        volumes:
            - certs:/usr/share/elasticsearch/config/certs
        command: >
            bash -c '
              if [ x${ELASTIC_PASSWORD} == x ]; then
                echo "Set the ELASTIC_PASSWORD environment variable in the .env file";
                exit 1;
              elif [ x${KIBANA_PASSWORD} == x ]; then
                echo "Set the KIBANA_PASSWORD environment variable in the .env file";
                exit 1;
              fi;
              if [ ! -f config/certs/ca.zip ]; then
                echo "Creating CA";
                bin/elasticsearch-certutil ca --silent --pem -out config/certs/ca.zip;
                unzip config/certs/ca.zip -d config/certs;
              fi;
              if [ ! -f config/certs/certs.zip ]; then
                echo "Creating certs";
                echo -ne \
                "instances:\n"\
                "  - name: es01\n"\
                "    dns:\n"\
                "      - elasticsearch\n"\
                "      - localhost\n"\
                "    ip:\n"\
                "      - 127.0.0.1\n"\
                "      - 172.17.0.1\n"\
                "  - name: kibana\n"\
                "    dns:\n"\
                "      - kibana\n"\
                "      - localhost\n"\
                "    ip:\n"\
                "      - 127.0.0.1\n"\
                "      - 172.17.0.1\n"\
                > config/certs/instances.yml;
                bin/elasticsearch-certutil cert --silent --pem -out config/certs/certs.zip --in config/certs/instances.yml --ca-cert config/certs/ca/ca.crt --ca-key config/certs/ca/ca.key;
                unzip config/certs/certs.zip -d config/certs;
              fi;
              echo "Setting file permissions"
              chown -R root:root config/certs;
              find . -type d -exec chmod 750 \{\} \;;
              find . -type f -exec chmod 640 \{\} \;;
              echo "Waiting for Elasticsearch availability";
              until curl -s --cacert config/certs/ca/ca.crt https://elasticsearch:${ELASTICSEARCH_PORT} | grep -q "missing authentication credentials"; do sleep 30; done;
              echo "Setting kibana_system password";
              until curl -s -X POST --cacert config/certs/ca/ca.crt -u "${ELASTIC_USERNAME}:${ELASTIC_PASSWORD}" -H "Content-Type: application/json" https://elasticsearch:${ELASTICSEARCH_PORT}/_security/user/kibana_system/_password -d "{\"password\":\"${KIBANA_PASSWORD}\"}" | grep -q "^{}"; do sleep 10; done;
              echo "All done!";
            '
        healthcheck:
            test: ['CMD-SHELL', '[ -f /usr/share/elasticsearch/config/certs/es01/es01.crt ]']
            interval: 1s
            timeout: 5s
            retries: 120

    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:8.2.2
        depends_on:
            setup:
                condition: service_healthy
        env_file: .env
        environment:
            - node.name=elasticsearch
            - cluster.name=aurelius-atlas-dev
            - discovery.type=single-node
            - xpack.security.enabled=true
            - xpack.security.http.ssl.enabled=true
            - xpack.security.http.ssl.key=/usr/share/elasticsearch/config/certs/es01/es01.key
            - xpack.security.http.ssl.certificate=/usr/share/elasticsearch/config/certs/es01/es01.crt
            - xpack.security.http.ssl.certificate_authorities=/usr/share/elasticsearch/config/certs/ca/ca.crt
            - xpack.security.transport.ssl.enabled=true
            - xpack.security.transport.ssl.key=/usr/share/elasticsearch/config/certs/es01/es01.key
            - xpack.security.transport.ssl.certificate=/usr/share/elasticsearch/config/certs/es01/es01.crt
            - xpack.security.transport.ssl.certificate_authorities=/usr/share/elasticsearch/config/certs/ca/ca.crt
            - xpack.security.transport.ssl.verification_mode=certificate
        volumes:
            - certs:/usr/share/elasticsearch/config/certs
            - es-data:/usr/share/elasticsearch/data
        ports:
            - ${ELASTICSEARCH_PORT}:${ELASTICSEARCH_PORT}
        restart: unless-stopped
        ulimits:
            memlock:
                soft: -1
                hard: -1
        healthcheck:
            test:
                [
                    'CMD-SHELL',
                    "curl -s --cacert config/certs/ca/ca.crt https://localhost:${ELASTICSEARCH_PORT} | grep -q 'missing authentication credentials'",
                ]
            interval: 10s
            timeout: 10s
            retries: 120

    kibana:
        depends_on:
            elasticsearch:
                condition: service_healthy
            setup:
                condition: service_completed_successfully
        image: docker.elastic.co/kibana/kibana:8.2.2
        volumes:
            - certs:/usr/share/kibana/config/certs
            - kibana-data:/usr/share/kibana/data
        env_file: .env
        environment:
            - SERVERNAME=kibana
            - ELASTICSEARCH_HOSTS=https://elasticsearch:${ELASTICSEARCH_PORT}
            - ELASTICSEARCH_USERNAME=kibana_system
            - ELASTICSEARCH_PASSWORD=${KIBANA_PASSWORD}
            - ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES=/usr/share/kibana/config/certs/ca/ca.crt
            - ENTERPRISESEARCH_HOST=http://enterprisesearch:${ENTERPRISE_SEARCH_PORT}
            - XPACK_SECURITY_ENCRYPTIONKEY=${ENCRYPTION_KEYS}
            - XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY=${ENCRYPTION_KEYS}
            - XPACK_REPORTING_ENCRYPTIONKEY=${ENCRYPTION_KEYS}
        ports:
            - ${KIBANA_PORT}:${KIBANA_PORT}
        restart: unless-stopped
        healthcheck:
            test: ['CMD-SHELL', "curl -s -I http://localhost:${KIBANA_PORT} | grep -q 'HTTP/1.1 302 Found'"]
            interval: 10s
            timeout: 10s
            retries: 120

    enterprisesearch:
        depends_on:
            kibana:
                condition: service_healthy
        image: docker.elastic.co/enterprise-search/enterprise-search:8.2.2
        volumes:
            - enterprisesearchdata:/usr/share/enterprise-search/config
            - certs:/usr/share/enterprise-search/config/certs
        env_file: .env
        environment:
            - SERVERNAME=enterprisesearch
            - secret_management.encryption_keys=[${ENCRYPTION_KEYS}]
            - allow_es_settings_modification=true
            - elasticsearch.host=https://elasticsearch:${ELASTICSEARCH_PORT}
            - elasticsearch.username=${ELASTIC_USERNAME}
            - elasticsearch.password=${ELASTIC_PASSWORD}
            - elasticsearch.ssl.enabled=true
            - elasticsearch.ssl.certificate_authority=/usr/share/enterprise-search/config/certs/ca/ca.crt
            - kibana.host=http://kibana:${KIBANA_PORT}
            - kibana.external_url=http://localhost:${KIBANA_PORT}
        ports:
            - ${ENTERPRISE_SEARCH_PORT}:${ENTERPRISE_SEARCH_PORT}
        restart: unless-stopped
        healthcheck:
            test: ['CMD-SHELL', "curl -s -I http://localhost:${ENTERPRISE_SEARCH_PORT} | grep -q 'HTTP/1.1 302 Found'"]
            interval: 10s
            timeout: 10s
            retries: 120

    jobmanager:
        image: flink:1.17.0
        command: jobmanager
        environment:
            FLINK_PROPERTIES: |
                jobmanager.rpc.address: localhost
                jobmanager.rpc.port: ${FLINK_JOB_MANAGER_RPC_PORT}
                rest.port: ${FLINK_JOB_MANAGER_REST_PORT}
        ports:
            - ${FLINK_JOB_MANAGER_REST_PORT}:${FLINK_JOB_MANAGER_REST_PORT}
            - ${FLINK_JOB_MANAGER_RPC_PORT}:${FLINK_JOB_MANAGER_RPC_PORT}
        volumes:
            - checkpoints:/tmp/flink-checkpoints-directory
        restart: unless-stopped

configs:
    atlas-application:
        file: ./apache-atlas/atlas-application.properties
    atlas-simple-authz-policy:
        file: ./apache-atlas/atlas-simple-authz-policy.json
    atlas-keycloak-conf:
        file: ./apache-atlas/keycloak-conf.json
    keycloak-config:
        file: ./keycloak/settings/standalone.xml
    keycloak-realm:
        file: ./keycloak/realms/atlas-dev.json

volumes:
    atlas-data:
    certs:
    checkpoints:
    es-data:
    kafka-data:
    keycloak-data:
    kibana-data:
    enterprisesearchdata:
