<ng-container *ngIf="showPlaceholder">
  <p *ngIf="noPeople$ | async" class="is-italic has-text-centered">
    No people assigned.
  </p>
</ng-container>
<ng-container *ngIf="details$ | async as details" class="container">
  <ng-container
  *ngIf="deduplicate(details.entity.relationshipAttributes?.domainLead) as domainLeads"
  >
    <div *ngIf="domainLeads.length > 0">
      <span class="icon is-small">
        <fa-icon class="business" [icon]="personsIcon"> </fa-icon>
      </span>
      <span> Domain Lead(s): </span>
      <ng-container *ngFor="let domainLead of domainLeads; let last = last">
        <span class="pointer" (click)="directToDetailsPage(domainLead.guid)">
          <a>{{ domainLead.displayText }}</a>
        </span>
        <span *ngIf="!last">, </span>
      </ng-container>
    </div>
  </ng-container>
  <ng-container
  *ngIf="deduplicate(details.entity.relationshipAttributes?.businessOwner) as owners"
  >
    <div *ngIf="owners.length > 0">
      <span class="icon is-small">
        <fa-icon class="business" [icon]="personsIcon"> </fa-icon>
      </span>
      <span> Data Owner(s): </span>
      <ng-container *ngFor="let owner of owners; let last = last">
        <span class="pointer" (click)="directToDetailsPage(owner.guid)">
          <a>{{ owner.displayText }}</a>
        </span>
        <span *ngIf="!last">, </span>
      </ng-container>
    </div>
  </ng-container>
  <ng-container
  *ngIf="deduplicate(details.entity.relationshipAttributes?.steward) as stewards"
  >
    <div *ngIf="stewards.length > 0">
      <span class="icon is-small">
        <fa-icon class="business" [icon]="personsIcon"> </fa-icon>
      </span>
      <span> Data Steward(s): </span>
      <ng-container *ngFor="let steward of stewards; let last = last">
        <span class="pointer" (click)="directToDetailsPage(steward.guid)">
          <a>{{ steward.displayText }}</a>
        </span>
        <span *ngIf="!last">, </span>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
