<ng-container *ngIf="showPlaceholder">
  <p *ngIf="noPeople$ | async" class="is-italic has-text-centered">
    No people assigned.
  </p>
</ng-container>

<ng-container *ngIf="details$ | async as details" class="container">
  <ng-container
    *ngIf="
      deduplicate(details.entity.relationshipAttributes?.domainLead) as domain"
  >
    <div *ngIf="domain.length > 0">
      <span class="pointer" (click)="directToDetailsPage(domain.guid)">
        <span class="icon is-small">
          <fa-icon class="business" [icon]="personsIcon"> </fa-icon>
        </span>
        <span> Domain Lead{{ domain.length > 1 ? 's' : '' }}: </span>
        <ng-container
          *ngFor="let domain of domain; let last = last"
          class="pointer"
          (click)="directToDetailsPage(domain.guid)"
        >
          <a>{{ domain.displayText }}</a><span *ngIf="!last">, </span>
        </ng-container>
      </span>
    </div>
  </ng-container>
  <ng-container
    *ngIf="deduplicate(details.entity.relationshipAttributes?.businessOwner) as owners"
  >
    <div *ngIf="owners.length > 0">
      <span class="pointer" (click)="directToDetailsPage(domain.guid)">
        <span class="icon is-small">
          <fa-icon class="business" [icon]="personsIcon"> </fa-icon>
        </span>
        <span> Data Owner{{ owners.length > 1 ? 's' : '' }}: </span>
        <ng-container
          *ngFor="let owner of owners; let last = last"
          class="pointer"
          (click)="directToDetailsPage(owner.guid)"
        >
          <a>{{ owner.displayText }}</a><span *ngIf="!last">, </span>
        </ng-container>
      </span>
    </div>
  </ng-container>
    <ng-container
    *ngIf="deduplicate(details.entity.relationshipAttributes?.steward) as stewards"
  >
    <div *ngIf="stewards.length > 0">
      <span class="pointer" (click)="directToDetailsPage(domain.guid)">
        <span class="icon is-small">
          <fa-icon class="business" [icon]="personsIcon"> </fa-icon>
        </span>
        <span> Data Steward{{ stewards.length > 1 ? 's' : '' }}: </span>
        <ng-container
          *ngFor="let steward of stewards; let last = last"
          class="pointer"
          (click)="directToDetailsPage(steward.guid)"
        >
          <a>{{ steward.displayText }}</a><span *ngIf="!last">, </span>
        </ng-container>
      </span>
    </div>
  </ng-container>
</ng-container>
