<ng-container [formGroup]="editorFormService.form" *ngIf="validationResults$ | async as rules">
    <div class="field">
        <label class="label" translate> search.components.editor.domain.name </label>
        <div class="grid">
            <div class="control">
                <input
                    id="name"
                    name="name"
                    class="input"
                    type="text"
                    placeholder="{{ 'search.components.editor.domain.namePlaceholder' | translate }}"
                    [formControl]="name"
                    required
                    [class.is-danger]="(editorFormService.submitted | async) && name.invalid"
                />
            </div>
            <ng-container *ngIf="rules.name as rules">
                <models4insight-gov-quality-display
                    [rules]="rules"
                    class="is-size-7"
                ></models4insight-gov-quality-display
            ></ng-container>
        </div>
        <ng-container *ngIf="(editorFormService.submitted | async) && name.invalid">
            <p *ngIf="name.errors?.required" class="help is-danger" translate>
                search.components.editor.domain.nameRequired
            </p>
        </ng-container>
        <ng-container *ngIf="name.value && name.value.includes('\u2019')">
            <p class="help is-warning" translate>search.components.editor.domain.nameWarning</p>
        </ng-container>
    </div>

    <div *ngIf="false" class="field">
        <label class="label" translate> search.components.editor.domain.typeAlias </label>
        <div class="grid">
            <div class="control">
                <input
                    id="typeAlias"
                    name="typeAlias"
                    class="input"
                    type="text"
                    placeholder="{{ 'search.components.editor.domain.typeAliasPlaceholder' | translate }}"
                    [formControl]="typeAlias"
                    [class.is-danger]="(editorFormService.submitted | async) && typeAlias.invalid"
                />
            </div>
            <ng-container *ngIf="rules.typeAlias as rules">
                <models4insight-gov-quality-display
                    [rules]="rules"
                    class="is-size-7"
                ></models4insight-gov-quality-display
            ></ng-container>
        </div>
    </div>

    <div class="field">
        <label class="label" translate> search.components.editor.domain.definition </label>
        <div class="grid">
            <div class="control">
                <textarea
                    class="textarea"
                    placeholder="{{ 'search.components.editor.domain.definitionPlaceholder' | translate }}"
                    [formControl]="definition"
                    [class.is-warning]="rules?.definition?.isNonCompliant"
                ></textarea>
            </div>
            <ng-container *ngIf="rules.definition as rules">
                <models4insight-gov-quality-display
                    [rules]="rules"
                    class="is-size-7"
                ></models4insight-gov-quality-display
            ></ng-container>
        </div>
        <ng-container *ngIf="definition.value && definition.value.includes('\u2019')">
            <p class="help is-warning" translate>search.components.editor.domain.definitionWarning</p>
        </ng-container>
    </div>

    <div class="field">
        <label class="label" translate> search.components.editor.domain.classifications </label>
        <div class="grid">
            <div class="control">
                <models4insight-classifications-input [tags]="classifications"></models4insight-classifications-input>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label" translate> search.components.editor.domain.dataEntities </label>
        <div class="grid">
            <div class="control">
                <models4insight-relationships-input
                    [tags]="dataEntities"
                    typeName="m4i_data_entity"
                    [rule]="rules?.dataEntity"
                ></models4insight-relationships-input>
            </div>
            <ng-container *ngIf="rules.dataEntity as rules">
                <models4insight-gov-quality-display
                    [rules]="rules"
                    class="is-size-7"
                ></models4insight-gov-quality-display
            ></ng-container>
        </div>
    </div>

    <div class="field">
        <label class="label" translate> search.components.editor.domain.domainLeads </label>
        <div class="grid">
            <div class="control">
                <models4insight-relationships-input
                    [tags]="domainLeads"
                    typeName="m4i_person"
                    [rule]="rules?.domainLead"
                ></models4insight-relationships-input>
            </div>
            <ng-container *ngIf="rules.domainLead as rules">
                <models4insight-gov-quality-display
                    [rules]="rules"
                    class="is-size-7"
                ></models4insight-gov-quality-display
            ></ng-container>
        </div>
    </div>
    <div class="field">
        <div class="grid">
            <ng-container *ngIf="(editorFormService.submitted | async) && editorFormService.form.invalid">
                <div class="notification is-danger is-light mb-4">
                    <p><strong translate> search.components.editor.domain.notification </strong></p>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>
