<div class="dropdown is-up" [class.is-active]="hasFocus">
    <div
        class="input tags-input"
        [class.is-focused]="hasFocus"
        [class.is-danger]="input.dirty && input.invalid"
        (click)="focusInput()"
    >
        <span class="field is-grouped is-grouped-multiline">
            <span *ngFor="let control of tags.controls; let i = index" class="control">
                <span class="tags has-addons">
                    <span class="tag is-primary">
                        <span class="icon is-small">
                            <fa-icon [icon]="faHashtag"></fa-icon>
                        </span>
                    </span>
                    <span class="tag" [title]="control.value?.typeName | classificationLabel">
                        <span class="truncate">
                            {{ control.value?.typeName | classificationLabel }}
                        </span>
                    </span>
                    <a
                        class="tag propagate-toggle"
                        [class.is-primary]="control.value?.propagate !== false"
                        [class.is-light]="control.value?.propagate === false"
                        [title]="
                            (control.value?.propagate !== false
                                ? 'search.components.editor.components.classificationsInput.propagates'
                                : 'search.components.editor.components.classificationsInput.doesNotPropagate'
                            ) | translate
                        "
                        (click)="togglePropagate(i); $event.stopPropagation()"
                    >
                        <span class="icon is-small" [class.is-crossed]="control.value?.propagate === false">
                            <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
                        </span>
                    </a>
                    <a class="tag is-delete" (click)="deleteTag(i)"></a>
                </span>
            </span>
        </span>
        <span class="field">
            <span class="control is-expanded">
                <input
                    #inputElement
                    class="input is-small input-control"
                    type="text"
                    [placeholder]="
                        'search.components.editor.components.classificationsInput.addPlaceholder' | translate
                    "
                    [formControl]="input"
                    (focus)="hasFocus = true"
                    (blur)="hasFocus = false"
                />
            </span>
        </span>
    </div>
    <div class="dropdown-menu" role="menu">
        <div class="dropdown-content">
            <ng-container *ngIf="options$ | async as options; else noDefs">
                <ng-container *ngIf="options.length > 0; else noDefs">
                    <a
                        *ngFor="let option of options"
                        class="dropdown-item"
                        (click)="addTag(option.name)"
                        (mousedown)="preventBlur($event)"
                    >
                        <span class="has-text-link"> {{ option | classificationLabel }}</span>
                        <span *ngIf="option.description && option.description !== option.name" class="is-size-7 has-text-grey">
                            &nbsp;{{ option.description }}
                        </span>
                    </a>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #noDefs>
    <p class="dropdown-item is-italic" translate>
        search.components.editor.components.classificationsInput.noClassificationsAvailable
    </p>
</ng-template>

<!-- classifications the entity got by propagation: not editable here, only at the entity they come from -->
<div *ngIf="(inherited$ | async)?.length" class="inherited mt-2">
    <span class="is-size-7 has-text-grey mr-2" translate>
        search.components.editor.components.classificationsInput.inherited
    </span>
    <span *ngFor="let inherited of inherited$ | async" class="tags has-addons inherited-tag">
        <span
            class="tag is-light"
            [title]="
                'search.components.editor.components.classificationsInput.inheritedFrom'
                    | translate: { sources: sourceNames(inherited) }
            "
        >
            <span class="icon is-small"><fa-icon [icon]="faHashtag"></fa-icon></span>
            <span class="truncate">{{ inherited.typeName | classificationLabel }}</span>
        </span>
        <a
            *ngFor="let source of inherited.sources"
            class="tag is-white source-link"
            [routerLink]="['/search/details', source.guid]"
            [title]="'search.components.editor.components.classificationsInput.openSource' | translate"
        >
            <span class="truncate">{{ source.name }}</span>
        </a>
    </span>
    <p class="help" translate>search.components.editor.components.classificationsInput.inheritedHelp</p>
</div>
