@let _authenticated = authService.authenticated();
@let _profile = authService.profile();

<section class="container">
    <aurelius-ui-header class="hero-head" logo="favicon.ico" name="Aurelius Frontend Example">
        <ng-container navbar-end>
            @if (_profile) {
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link"> Logged in as {{ _profile.username ?? _profile.email }} </a>
                    <div class="navbar-dropdown">
                        <button class="navbar-item" (click)="authService.accountManagement()">
                            Account Management
                        </button>
                        <hr class="navbar-divider" />
                        <button class="navbar-item has-text-danger" (click)="authService.logout()">Log out</button>
                    </div>
                </div>
            }
            <div class="navbar-item buttons">
                @if (!_authenticated) {
                    <button class="button is-primary" (click)="authService.login()">Log in</button>
                }
                <aurelius-ui-dark-mode></aurelius-ui-dark-mode>
            </div>
        </ng-container>
    </aurelius-ui-header>

    <!-- Main content area -->
    <router-outlet></router-outlet>
</section>
