name: Publish Containers

on:
  push:
    tags:
      - v*.*.*

jobs:
  test:
    name: Publish
    runs-on: ubuntu-latest
    permissions: write-all
    timeout-minutes: 15
    env:
      DOCKER_BUILDKIT: 1
      BUILDX_GC_KEEP_STORAGE: 5GB
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm install
        shell: bash

      - name: Print Environment Info
        run: npx nx report
        shell: bash

      - name: Setup Python, Poetry and Dependencies
        uses: packetcoders/action-setup-cache-python-poetry@main
        with:
          python-version: 3.8
          poetry-version: 1.8.4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish lightweight containers (parallel)
        run: |
          npx nx run-many -t docker-publish \
            --exclude aurelius-flink-jobs \
            --exclude m4i-atlas-post-install \
            --exclude m4i-publish-state \
            --exclude m4i-update-gov-data-quality \
            --exclude m4i-synchronize-app-search \
            -- --namespace ghcr.io/aureliusenterprise --version ${{ github.ref_name }}
        shell: bash

      - name: Clean up after lightweight containers
        run: |
          docker system prune -af --volumes
          df -h
        shell: bash

      - name: Publish heavy Flink containers (parallel)
        run: |
          npx nx run-many -t docker-publish \
            --projects=m4i-publish-state,m4i-update-gov-data-quality,m4i-synchronize-app-search,aurelius-flink-jobs,m4i-atlas-post-install \
            -- --namespace ghcr.io/aureliusenterprise --version ${{ github.ref_name }}
        shell: bash

      - name: Publish helm chart
        run: npx nx run-many -t helm-publish -- --namespace ghcr.io/aureliusenterprise --version ${{ github.ref_name }}
        shell: bash
