@let entity = entityService.entity();

@if (entity) {
    <aurelius-ui-modal [active]="entity !== null" [showCloseButton]="false">
        <ng-container modal-content>
            <form [formGroup]="entityForm">
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Editor</p>
                        <button class="delete" aria-label="close" (click)="cancel()"></button>
                    </header>
                    <section class="modal-card-body">
                        <div class="field">
                            <label class="label" for="guid">GUID</label>
                            <div class="control">
                                <input
                                    id="guid"
                                    class="input is-static"
                                    type="text"
                                    placeholder="New Entity"
                                    formControlName="guid"
                                    readonly
                                />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="time_created">Time Created</label>
                            <div class="control">
                                <input
                                    id="time_created"
                                    class="input is-static"
                                    type="text"
                                    placeholder="Entity has not been created yet"
                                    formControlName="time_created"
                                    readonly
                                />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="time_modified">Time Modified</label>
                            <div class="control">
                                <input
                                    id="time_modified"
                                    class="input is-static"
                                    type="text"
                                    placeholder="Entity has not been modified yet"
                                    formControlName="time_modified"
                                    readonly
                                />
                            </div>
                        </div>
                        <div class="field">
                            @let invalidName = entityForm.get("name")?.dirty && entityForm.get("name")?.invalid;
                            <label class="label" for="name">Name</label>
                            <div class="control">
                                <input
                                    id="name"
                                    class="input"
                                    [class.is-danger]="invalidName"
                                    type="text"
                                    placeholder="Name"
                                    formControlName="name"
                                />
                            </div>
                            @if (invalidName) {
                                <p class="help is-danger">Name must not be longer than 100 characters.</p>
                            }
                        </div>
                        <div class="field">
                            @let invalidDescription =
                                entityForm.get("description")?.dirty && entityForm.get("description")?.invalid;
                            <label class="label" for="description">Description</label>
                            <div class="control">
                                <textarea
                                    id="description"
                                    class="textarea"
                                    [class.is-danger]="invalidDescription"
                                    placeholder="Description"
                                    formControlName="description"
                                ></textarea>
                            </div>
                            @if (invalidDescription) {
                                <p class="help is-danger">Description must not be longer than 255 characters.</p>
                            }
                        </div>
                    </section>
                    <footer class="modal-card-foot">
                        <div class="level is-flex-grow-1 is-mobile">
                            <div class="level-left">
                                <div class="level-item buttons">
                                    <button class="button is-success" [disabled]="!entityForm.valid" (click)="save()">
                                        Save
                                    </button>
                                    <button class="button" (click)="cancel()">Cancel</button>
                                </div>
                            </div>
                            <div class="level-right">
                                @if (entity.guid) {
                                    <div class="level-item">
                                        <button class="button is-danger" (click)="delete(entity.guid)">Delete</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </footer>
                </div>
            </form>
        </ng-container>
    </aurelius-ui-modal>
}
